main{
    width: 80%;
    margin: auto;
    border: 5px solid rgb(68, 66, 66);
    padding: 50px;
    text-align: justify;
    background-color: #b9b9b7;
}

.btn{
    float: right;
    border: 2px solid #08081c;
    border-radius: 10px;
    cursor: pointer;
    background-color: yellow;
    padding: 5px;
    font-size: 15px;
    margin-right: 5px;
    font-weight: bolder;
}

a.btn{
    text-decoration: none;
    color: black;
}

.btn:hover{
    background-color: rgb(158, 158, 17);
}
a:visited{
    color: blue;
}
.btn:active{
    background-color: blue;
    color: white;
}